.cards {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.card1 {
  font-family: "Gabarito", cursive;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Varela Round", sans-serif;
  width: 280px;
  box-shadow: 5px 10px 8px 10px #c8c6c6;
  position: relative;
  border-radius: 16px 16px 16px 16px;
  margin-left: 30px;
}
.card1 img {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  left: 25%;
  border: 2px solid #7A29E7;
}
.card1 .card-image {
  border-radius: 4px solid #7A29E7;
}
.card1 .card-items {
  display: flex;
  flex-direction: column;
  background-color: #7A29E7;
  color: white;
  align-items: flex-end;
  padding: 20px 20px 20px 0px;
  border-radius: 16px 16px 0 0;
}
.card1 .card-items i {
  margin-bottom: 12px;
}
.card1 h1 {
  margin: 40px 0 0 0;
  font-size: 23px;
}
.card1 p {
  margin: 10px 0 10px 0;
}
.card1 button {
  color: white;
  background-color: #7A29E7;
  width: 100px;
  padding: 10px;
  font-weight: 600;
  border-radius: 20px;
  border: none;
}
.card1 .card-buttons {
  margin: 5px 0 25px 0;
}
.card1 .card-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card1 .card-info i {
  color: #7A29E7;
  margin: 0px 0px 14px 0px;
}
.card1 i:nth-child(-n+4) {
  background-color: #7A29E7;
  color: white;
}

.card2 {
  font-family: "Gabarito", cursive;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Varela Round", sans-serif;
  width: 280px;
  box-shadow: 5px 10px 8px 10px #c8c6c6;
  position: relative;
  border-radius: 16px 16px 16px 16px;
  margin-left: 30px;
}
.card2 img {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  left: 25%;
  border: 2px solid #7A29E7;
}
.card2 .card-image {
  border-radius: 4px solid #7A29E7;
}
.card2 .card-items {
  display: flex;
  flex-direction: column;
  background-color: #7A29E7;
  color: white;
  align-items: flex-end;
  padding: 20px 20px 20px 0px;
  border-radius: 16px 16px 0 0;
}
.card2 .card-items i {
  margin-bottom: 12px;
}
.card2 h1 {
  margin: 40px 0 0 0;
  font-size: 23px;
}
.card2 p {
  margin: 10px 0 10px 0;
}
.card2 button {
  color: white;
  background-color: #7A29E7;
  width: 100px;
  padding: 10px;
  font-weight: 600;
  border-radius: 20px;
  border: none;
}
.card2 .card-buttons {
  margin: 5px 0 25px 0;
}
.card2 .card-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card2 .card-info i {
  color: #7A29E7;
  margin: 0px 0px 14px 0px;
}
.card2 i:nth-child(-n+3) {
  background-color: #7A29E7;
  color: white;
}

.card3 {
  font-family: "Gabarito", cursive;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Varela Round", sans-serif;
  width: 280px;
  box-shadow: 5px 10px 8px 10px #c8c6c6;
  position: relative;
  border-radius: 16px 16px 16px 16px;
  margin-left: 30px;
}
.card3 img {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  left: 25%;
  border: 2px solid #7A29E7;
}
.card3 .card-image {
  border-radius: 4px solid #7A29E7;
}
.card3 .card-items {
  display: flex;
  flex-direction: column;
  background-color: #7A29E7;
  color: white;
  align-items: flex-end;
  padding: 20px 20px 20px 0px;
  border-radius: 16px 16px 0 0;
}
.card3 .card-items i {
  margin-bottom: 12px;
}
.card3 h1 {
  margin: 40px 0 0 0;
  font-size: 23px;
}
.card3 p {
  margin: 10px 0 10px 0;
}
.card3 button {
  color: white;
  background-color: #7A29E7;
  width: 100px;
  padding: 10px;
  font-weight: 600;
  border-radius: 20px;
  border: none;
}
.card3 .card-buttons {
  margin: 5px 0 25px 0;
}
.card3 .card-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card3 .card-info i {
  color: #7A29E7;
  margin: 0px 0px 14px 0px;
}
.card3 i:nth-child(-n+4) {
  background-color: #7A29E7;
  color: white;
}/*# sourceMappingURL=style.css.map */