body{margin: 0px;
}
header{
    background-image: url(image/WhatsApp\ Image\ 2023-10-13\ at\ 23.33.13.jpeg);
    background-size: cover;
    object-fit: cover;
    height: 650px;
    color: white;
    font-family: 'Gabarito', sans-serif;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Varela Round', sans-serif;
    .navbar{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        
        h1{
            font-size: 27px;
            margin-left: 60px;
            flex: 55%;
        }
        ul{
            list-style: none;
            display: flex;
            flex: 45%;
            a{
                font-size: 12px;
                text-decoration: none;
                color: white;
                margin-right: 40px;
                &:hover{
                    color: rgb(179, 179, 179);
                }
            }
        }
    }
    .main-container{ 
        margin-top: 60px;
        display: flex;
        justify-content: center;
        .info{
            width: 999px;
            display: flex;
            align-items: center;
        }
        .container{
            margin-top: 50px;
            h1{
                font-size: 40px;
                line-height: 1.3;
                margin-bottom: 0px;
            }
            p{
                color: rgb(179, 179, 179);
                font-size: 15px;
                line-height: 1.6;
                margin-bottom: 0px;
            }
            flex: 50%;
            padding: 17px;
            button{
                font-weight: 600;
                font-size: 11px;
                border: none;
                padding: 15px 30px 15px 30px;
                margin: 30px 0 50px 0;
            }
        }
        .image{
            margin-right: 40px;
            flex: 50%;
            display: flex;
            justify-content: end;
            img{
                width: 130px;
                height: 130px;
            }
        }
    }
}